* {
    font-family: verdana;
    color: rgb( 100, 100, 100 );
    font-weight: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: rgb( 220, 220, 220 );
}

h1 {
    font-size: 24px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

strong {
    font-weight: bold;
}

header {
    background-color: #31bb6f;
    height: 100px;
}

header h1 {
    float: left;
    color: white;
    line-height: 100px;
    margin: 0;
}

.download-btn,
.github-btn {
    float: right;
    padding: 0 15px;
    height: 40px;
    line-height: 38px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    margin-top: 30px;
    box-sizing: border-box;
    margin-left: 15px;
}

main {
    background-color: rgb( 240, 240, 240 );
}

footer {
    padding: 30px 0;
    background-color: #31bb6f;
}

footer h2 {
    color: white;
}

footer a {
    text-decoration: none;
}

.container {
    max-width: 990px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

hr {
    border: 0;
    border-bottom: 1px solid rgb( 210, 210, 210 );
    margin: 0;
}

.example {
    padding: 30px 0;
    margin: 0 -15px;
}

.example:after {
    content: '';
    display: table;
    clear: both;
}

.example__title {
    margin-left: 15px;
}

.example__page h2 {
    font-size: 16px;
    color: rgb( 150, 150, 150 );
}

.example__page p {
    font-size: 12px;
    color: rgb( 150, 150, 150 );
    line-height: 1.75;
}

.example__wrapper {
    float: left;
    width: 60%;
    padding: 0 15px;
    box-sizing: border-box;
}

.example__wrapper p {
    margin-bottom: 10px;
}

.example__info {
    float: right;
    width: 40%;
    padding: 0 15px;
    box-sizing: border-box;
}


.example__info label {
    display: inline-block;
    width: 130px;
    font-weight: bold;
}

.example__info input {
    display: inline-block;
    margin-left: 15px;
    width: 60px;
    text-align: right;
    padding: 5px;
    border-radius: 3px;
    background-color: gainsboro;
    border: 1px solid #b9b9b9;
}

.example__info li {
    margin-bottom: 10px;
}

.example li:after {
    content: '';
    display: table;
    clear: both;
}

.how-to {
    background-color: #282b2e;
    box-shadow: inset 0 10px 6px -8px black;
    padding: 30px 0;
}

.how-to h2 {
    color: #31bb6f;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #31bb6f;
}

.clear {
    clear: both;
}

code {
    padding: 0 !important;
    font-family: 'consolas' !important;
    line-height: 2 !important;
    font-size: 14px !important;
    word-wrap: break-word !important;
}

code * {
    font-family: 'consolas' !important;
    line-height: 2 !important;
    font-size: 14px !important;
    word-wrap: break-word !important;
}

pre {
    margin-bottom: 0;
}

@media ( min-width: 769px ) {
    .mobile {
        display: none !important;
    }
}

@media ( max-width: 768px ) {
    .full-width {
        margin: 0 -15px;
    }

    header {
        height: auto;
        padding: 15px 0;
    }

    header:after {
        content: '';
        display: table;
        clear: both;
    }

    header h1 {
        line-height: 1;
        float: none;
        margin-bottom: 15px;
    }

    main {
        padding-bottom: 0;
    }

    .download-btn,
    .github-btn {
        float: left;
        margin-left: 0;
        margin-right: 15px;
        margin-top: 0;
    }

    .example__wrapper,
    .example__info {
        float: none;
        width: auto;
    }

    #pagination {
        margin: 0;
    }

    /*
    #pagination .pagination__item--first,
    #pagination .pagination__item--last,
    #pagination .pagination__item--previous-few,
    #pagination .pagination__item--next-few,
    #pagination .pagination__item--page {
        display: none;
    }

    #pagination .pagination__item--offset-1,
    #pagination .pagination__item--offset0,
    #pagination .pagination__item--offset1 {
        display: block !important;
    }

    /* Edge cases
    #pagination .pagination__item--index3.pagination__item--offset2,
    #pagination .pagination__item--index-reverse3.pagination__item--offset-2 {
        display: block !important;
    }

    #pagination2 .pagination__item--first,
    #pagination2 .pagination__item--last,
    #pagination2 .pagination__item--previous-few,
    #pagination2 .pagination__item--next-few,
    #pagination2 .pagination__item--page {
        display: none;
    }

    #pagination2 .pagination__item--offset-2,
    #pagination2 .pagination__item--offset-1,
    #pagination2 .pagination__item--offset0,
    #pagination2 .pagination__item--offset1,
    #pagination2 .pagination__item--offset2 {
        display: block !important;
    }
    */

    /* Edge cases
    #pagination2 .pagination__item--index3.pagination__item--offset2,
    #pagination2 .pagination__item--index4.pagination__item--offset3,
    #pagination2 .pagination__item--index5.pagination__item--offset4,
    #pagination2 .pagination__item--index5.pagination__item--offset3,
    #pagination2 .pagination__item--index-reverse3.pagination__item--offset-2,
    #pagination2 .pagination__item--index-reverse4.pagination__item--offset-3,
    #pagination2 .pagination__item--index-reverse5.pagination__item--offset-4,
    #pagination2 .pagination__item--index-reverse5.pagination__item--offset-3 {
        display: block !important;
    }
     */

    .example__info ul {
        margin-bottom: 15px;
    }

    code {
        margin: 0 -15px;
        padding: 0 15px 15px 15px !important;
        font-size: 12px !important;
    }

    code * {
        font-size: 12px !important;
    }

    .how-to {
        padding-bottom: 0;
    }

    .mobile {
        line-height: 1.75;
    }
}